.footer-main-container {
  /* background-color: #1e1e26; */
  color: #fff;
  padding: 80px 0px 0px;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1e1e26;
  /* max-width: 1200px; */
}

.footer-section-cards {
  /* flex: 1; */
  /* min-width: 220px; */
  /* margin: 10px; */
}

.footer-card {
  padding: 60px;
}

.footer-card-heading {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fffeff;
}

.footer-card-para {
  font-size: 14px;
  color: #696a6f;
  line-height: 3;
}

.footer-card-para1 {
  font-size: 14px;
  color: #696a6f;
}

/* .footer-card-para:hover {
  text-decoration: underline;
  cursor: pointer;
} */

.footer-icons {
  margin-top: 50px;
}

.footer-icon {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.footer-icons > * {
  font-size: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: black;
}

/* .footer-icons > *:hover {
  color: #ff4948;
} */

.footer-section-last-para {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  color: #fffcfa;
}

.footer-copyright {
  font-size: 14px;
  color: #696a6f;
}












/* Media Queries for responsive design */
@media (max-width: 1200px) {
  .footer-card {
    padding: 40px;
  }
}

@media (max-width: 992px) {
  .footer-section {
    justify-content: center;
  }

  .footer-card {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-card {
    padding: 20px;
  }

  .footer-section-last-para {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .footer-card {
    padding: 15px;
  }

  .footer-section-last-para {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
}