.section2-container {
  padding: 60px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.section2-heading {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #ff4948;
  font-weight: bold;
}

.section2-main-heading {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.section2-main-heading-start {
  color: #ff4948;
  font-weight: bold;
}

.section2-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box {
  background-color: #fff;
  padding: 20px;
  width: 170px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  box-shadow: 30px 30px 25px #ddd;
}

.box:nth-child(even) {
  margin-top: 40px !important;
}
.box:nth-child(odd) {
  margin-bottom: 40px !important;
}

.icon {
  display: flex;
  font-size: 30px;
  color: #ff4948;
  margin-bottom: 30px;
}
/* .box:hover {
  transform: translateY(-10px);
} */

.box-main-para {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-second-para {
  font-size: 12px;
  color: #666;
  text-align: justify;
}

/* media...... */

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .section2-main-heading {
    font-size: 35px;
  }

  .box {
    width: 150px;
    padding: 15px;
  }

  .icon {
    font-size: 25px;
  }

  .box-main-para {
    font-size: 16px;
  }

  .box-second-para {
    font-size: 11px;
  }
}

@media (max-width: 992px) {
  .section2-main-heading {
    font-size: 30px;
  }

  .box {
    width: 140px;
    padding: 10px;
  }

  .icon {
    font-size: 22px;
  }

  .box-main-para {
    font-size: 15px;
  }

  .box-second-para {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .section2-main-heading {
    font-size: 25px;
  }

  .box {
    width: 130px;
    padding: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .box-main-para {
    font-size: 14px;
  }

  .box-second-para {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .section2-container {
    padding: 30px;
  }

  .section2-main-heading {
    font-size: 20px;
  }

  .box {
    width: 100px;
    padding: 8px;
  }

  .icon {
    font-size: 18px;
  }

  .box-main-para {
    font-size: 12px;
  }

  .box-second-para {
    font-size: 9px;
  }
}
